<ul class="nav">
  <li class="nav-item"><a href="/">272pi</a></li>
  <% unless @year.nil? %>
    <li class="nav-item"><a href="<%= "/#{@year}" %>"><%= @year %></a></li>
    <% unless @month.nil? %>
      <li class="nav-item"><a href="<%= "/#{@year}/#{@month}" %>"><%= @month %></a></li>
      <% unless @day.nil? %>
        <li class="nav-item"><a href="<%= "/#{@year}/#{@month}/#{@day}" %>"><%= @day %></a></li>
      <% end %>
    <% end %>
  <% end %>
</ul>
