<table class="messages">
  <% @even = true %>
  <% @from = nil %>
  <tbody class="messages-even">
    <% @messages.each_with_index do |m, i| %>
      <% unless m.message_type == 'status' %>
        <% if !@from.nil? && m.from != @from %>
          </tbody>
          <tbody class="<%= @even ? 'messages-even' : 'messages-odd' %>">
          <% @even = !@even %>
        <% end %>
        <% @from = m.from %>
        <tr class="message <%= 'message-status' if m.message_type == 'status'%>">
          <td>
            <span class="message-from"><a name="<%= i %>"></a><%= m.from %></span>
            <span class="message-timestamp"><a href="#<%= i %>"><%= m.created_at.strftime('%H:%M:%S') %></a></span>
            </td>
            <td>
            <div class="message-body"><%= m.message_type == 'text' ? escape_text_message(m.body) : m.body %></div>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
