<table class="messages">
  <% @even = true %>
  <% @from = nil %>
  <% @messages.each_with_index do |m, i| %>
    <% if m.from && !m.is_status? %>
      <%# if current message is the first one %>
      <% if @from.nil? %>
        <tbody class="messages-group messages-<%= @even ? 'even' : 'odd' %>">
      <%# if previous message does not belong to the same user as current does %>
      <% elsif m.from != @from %>
        <% @even = !@even %>
        </tbody>
        <tbody class="messages-group messages-<%= @even ? 'even' : 'odd' %>">
      <% end %>

      <tr class="message">
        <td class="message-meta">
          <span class="message-from"><a name="<%= i %>"></a><%= m.from %></span>
          <span class="message-time"><a class="message-time-link" href="#<%= i %>"><%= m.created_at.strftime('%H:%M:%S') %></a></span>
        </td>
        <td class="message-body">
          <div><%= m.message_type == 'text' ? escape_text_message(m.body) : m.body %></div>
        </td>
      </tr>

      <% @from = m.from %>
    <% end %>
  <% end %>
  </tbody>
</table>
