%ul.nav
  %li.nav-item<
    %a{ :href => '/' } #{settings.room_name}
  - unless @year.nil?
    %li.nav-item<
      %a{ :href => "/#{@year}" } #{@year}
  - unless @month.nil?
    %li.nav-item<
      %a{ :href => "/#{@year}/#{@month}" } #{@month}
  - unless @day.nil?
    %li.nav-item<
      %a{ :href => "/#{@year}/#{@month}/#{@day}" } #{@day}
